In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/crime-in-baltimore/BPD_Part_1_Victim_Based_Crime_Data.csv
/kaggle/input/portland-crime/output.csv
/kaggle/input/crimes-in-los-angeles-2020-2023/Crime_Data_from_2020_to_Present.csv
/kaggle/input/philadelphiacrimedata/crime.csv

In [2]:
def initDF(path):
    df = pd.read_csv('/kaggle/input/'+path)
    return df

In [3]:
df_LA = initDF("crimes-in-los-angeles-2020-2023/Crime_Data_from_2020_to_Present.csv")
df_LA.head()

,division_number,date_reported,date_occurred,area,area_name,reporting_district,part,crime_code,crime_description,modus_operandi,...,status,status_description,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude
0,10304468,2020-01-08,2020-01-08 22:30:00,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,0444 0913,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,2020-01-02,2020-01-01 03:30:00,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,2020-04-14,2020-02-13 12:00:00,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,1501,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,2020-01-01,2020-01-01 17:30:00,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,2020-01-01,2020-01-01 04:15:00,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [4]:
df_Phil = initDF("philadelphiacrimedata/crime.csv")
df_Phil.head()

,Dc_Dist,Psa,Dispatch_Date_Time,Dispatch_Date,Dispatch_Time,Hour,Dc_Key,Location_Block,UCR_General,Text_General_Code,Police_Districts,Month,Lon,Lat
0,18,3,2009-10-02 14:24:00,2009-10-02,14:24:00,14,200918067518,S 38TH ST / MARKETUT ST,800.0,Other Assaults,NaN,2009-10,NaN,NaN
1,14,1,2009-05-10 00:55:00,2009-05-10,00:55:00,0,200914033994,8500 BLOCK MITCH,2600.0,All Other Offenses,NaN,2009-05,NaN,NaN
2,25,J,2009-08-07 15:40:00,2009-08-07,15:40:00,15,200925083199,6TH CAMBRIA,800.0,Other Assaults,NaN,2009-08,NaN,NaN
3,35,D,2009-07-19 01:09:00,2009-07-19,01:09:00,1,200935061008,5500 BLOCK N 5TH ST,1500.0,Weapon Violations,20.0,2009-07,-75.130477,40.036389
4,9,R,2009-06-25 00:14:00,2009-06-25,00:14:00,0,200909030511,1800 BLOCK WYLIE ST,2600.0,All Other Offenses,8.0,2009-06,-75.166350,39.969532

In [5]:
df_Bal = initDF("crime-in-baltimore/BPD_Part_1_Victim_Based_Crime_Data.csv")
df_Bal.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1

In [6]:
df_Port = pd.read_csv('/kaggle/input/portland-crime/output.csv', delimiter='\t')
df_Port.head()

,Unnamed: 0,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,ReportDate,OffenseCount
0,492134,6300 BLOCK OF N LOMBARD ST,23-917974,Property,University Park,2023-07-31,1926,Larceny Offenses,Shoplifting,45.585250,-122.731728,7630813.0,707361.0,2023-07-31,1
1,474760,600 BLOCK OF SE 146TH AVE,23-200198,Property,Centennial,2023-07-31,555,Motor Vehicle Theft,Motor Vehicle Theft,45.517729,-122.513341,7686091.0,681281.0,2023-07-31,1
2,475814,700 BLOCK OF SW 10TH AVE,23-917935,Property,Downtown,2023-07-31,1110,Larceny Offenses,Theft From Motor Vehicle,45.519658,-122.682225,7642836.0,683108.0,2023-07-31,1
3,499387,14000 BLOCK OF NE AIRPORT WAY,23-917921,Property,Argay,2023-07-31,900,Larceny Offenses,Theft of Motor Vehicle Parts or Accessories,45.561735,-122.518390,7685198.0,697353.0,2023-07-31,1
4,475599,700 BLOCK OF SW 5TH AVE,23-200558,Person,Downtown,2023-07-31,1601,Assault Offenses,Simple Assault,45.518452,-122.677706,7643982.0,682637.0,2023-07-31,1

In [7]:
def checkNull(df):
    return df.isnull().sum()

In [8]:
dfs = ["df_LA", "df_Phil", "df_Bal", "df_Port"]

In [9]:
df_LA = df_LA[["date_occurred", "crime_description", "location", "latitude", "longitude"]]
df_LA.head()

,date_occurred,crime_description,location,latitude,longitude
0,2020-01-08 22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.0141,-118.2978
1,2020-01-01 03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.0459,-118.2545
2,2020-02-13 12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.0448,-118.2474
3,2020-01-01 17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.1685,-118.4019
4,2020-01-01 04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.2198,-118.4468

In [10]:
checkNull(df_LA)

date_occurred        0
crime_description    0
location             0
latitude             0
longitude            0
dtype: int64

In [11]:
df_LA[['date','time']] = df_LA.date_occurred.str.split(expand=True)
df_LA.head()

,date_occurred,crime_description,location,latitude,longitude,date,time
0,2020-01-08 22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.0141,-118.2978,2020-01-08,22:30:00
1,2020-01-01 03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.0459,-118.2545,2020-01-01,03:30:00
2,2020-02-13 12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.0448,-118.2474,2020-02-13,12:00:00
3,2020-01-01 17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.1685,-118.4019,2020-01-01,17:30:00
4,2020-01-01 04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.2198,-118.4468,2020-01-01,04:15:00

In [12]:
df_LA['city'] = 'Los Angeles'
df_LA.head()

,date_occurred,crime_description,location,latitude,longitude,date,time,city
0,2020-01-08 22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.0141,-118.2978,2020-01-08,22:30:00,Los Angeles
1,2020-01-01 03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.0459,-118.2545,2020-01-01,03:30:00,Los Angeles
2,2020-02-13 12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.0448,-118.2474,2020-02-13,12:00:00,Los Angeles
3,2020-01-01 17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.1685,-118.4019,2020-01-01,17:30:00,Los Angeles
4,2020-01-01 04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.2198,-118.4468,2020-01-01,04:15:00,Los Angeles

In [13]:
df_LA = df_LA[["date", "time", "crime_description", "location", "latitude", "longitude", "city"]]
df_LA.head()

,date,time,crime_description,location,latitude,longitude,city
0,2020-01-08,22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.0141,-118.2978,Los Angeles
1,2020-01-01,03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.0459,-118.2545,Los Angeles
2,2020-02-13,12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.0448,-118.2474,Los Angeles
3,2020-01-01,17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.1685,-118.4019,Los Angeles
4,2020-01-01,04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.2198,-118.4468,Los Angeles

In [14]:
df_Bal = df_Bal[["CrimeDate", "CrimeTime", "Description", "Location", "Latitude", "Longitude"]]
df_Bal["City"] = "Baltimore"
df_Bal.head()

,CrimeDate,CrimeTime,Description,Location,Latitude,Longitude,City
0,09/02/2017,23:30:00,ROBBERY - RESIDENCE,4200 AUDREY AVE,39.22951,-76.60541,Baltimore
1,09/02/2017,23:00:00,AUTO THEFT,800 NEWINGTON AVE,39.31360,-76.63217,Baltimore
2,09/02/2017,22:53:00,SHOOTING,600 RADNOR AV,39.34768,-76.60697,Baltimore
3,09/02/2017,22:50:00,AGG. ASSAULT,1800 RAMSAY ST,39.28315,-76.64526,Baltimore
4,09/02/2017,22:31:00,COMMON ASSAULT,100 LIGHT ST,39.28756,-76.61365,Baltimore

In [15]:
df_Bal = df_Bal.dropna()

In [16]:
checkNull(df_Bal)

CrimeDate      0
CrimeTime      0
Description    0
Location       0
Latitude       0
Longitude      0
City           0
dtype: int64

In [17]:
checkNull(df_Phil)

Dc_Dist                   0
Psa                       0
Dispatch_Date_Time        0
Dispatch_Date             0
Dispatch_Time             0
Hour                      0
Dc_Key                    0
Location_Block            0
UCR_General             663
Text_General_Code       663
Police_Districts      19930
Month                     0
Lon                   17349
Lat                   17349
dtype: int64

In [18]:
df_Phil = df_Phil[["Dispatch_Date", "Dispatch_Time", "Text_General_Code", "Location_Block", "Lat", "Lon"]]
df_Phil["City"] = "Philadephia"
df_Phil.head()

,Dispatch_Date,Dispatch_Time,Text_General_Code,Location_Block,Lat,Lon,City
0,2009-10-02,14:24:00,Other Assaults,S 38TH ST / MARKETUT ST,NaN,NaN,Philadephia
1,2009-05-10,00:55:00,All Other Offenses,8500 BLOCK MITCH,NaN,NaN,Philadephia
2,2009-08-07,15:40:00,Other Assaults,6TH CAMBRIA,NaN,NaN,Philadephia
3,2009-07-19,01:09:00,Weapon Violations,5500 BLOCK N 5TH ST,40.036389,-75.130477,Philadephia
4,2009-06-25,00:14:00,All Other Offenses,1800 BLOCK WYLIE ST,39.969532,-75.166350,Philadephia

In [19]:
df_Phil = df_Phil.dropna()
checkNull(df_Phil)

Dispatch_Date        0
Dispatch_Time        0
Text_General_Code    0
Location_Block       0
Lat                  0
Lon                  0
City                 0
dtype: int64

In [20]:
checkNull(df_Port)

Unnamed: 0             0
Address            42722
CaseNumber             0
CrimeAgainst           0
Neighborhood       16635
OccurDate              0
OccurTime              0
OffenseCategory        0
OffenseType            0
OpenDataLat        53933
OpenDataLon        53933
OpenDataX          53933
OpenDataY          53933
ReportDate             0
OffenseCount           0
dtype: int64

In [21]:
df_Port = df_Port[["OccurDate", "OccurTime", "Address", "OffenseType", "OpenDataLat", "OpenDataLon"]]
df_Port["City"] = "Portland"
df_Port

,OccurDate,OccurTime,Address,OffenseType,OpenDataLat,OpenDataLon,City
0,2023-07-31,1926,6300 BLOCK OF N LOMBARD ST,Shoplifting,45.585250,-122.731728,Portland
1,2023-07-31,555,600 BLOCK OF SE 146TH AVE,Motor Vehicle Theft,45.517729,-122.513341,Portland
2,2023-07-31,1110,700 BLOCK OF SW 10TH AVE,Theft From Motor Vehicle,45.519658,-122.682225,Portland
3,2023-07-31,900,14000 BLOCK OF NE AIRPORT WAY,Theft of Motor Vehicle Parts or Accessories,45.561735,-122.518390,Portland
4,2023-07-31,1601,700 BLOCK OF SW 5TH AVE,Simple Assault,45.518452,-122.677706,Portland
...,...,...,...,...,...,...,...
505058,2015-05-01,2200,5400 BLOCK OF SW VIEW POINT TER,Theft From Motor Vehicle,45.484172,-122.677847,Portland
505059,2015-05-01,1600,W BURNSIDE ST / SW 5TH AVE,Vandalism,45.523080,-122.675409,Portland
505060,2015-05-01,1600,400 BLOCK OF SW SALMON ST,Vandalism,45.516624,-122.678174,Portland
505061,2015-05-01,1255,1900 BLOCK OF SE 6TH AVE,Vandalism,45.509024,-122.659847,Portland
505062,2015-05-01,1900,NE ALBERTA ST / NE 30TH AVE,All Other Larceny,45.559036,-122.634861,Portland

In [22]:
df_Port = df_Port.dropna()
df_Port

,OccurDate,OccurTime,Address,OffenseType,OpenDataLat,OpenDataLon,City
0,2023-07-31,1926,6300 BLOCK OF N LOMBARD ST,Shoplifting,45.585250,-122.731728,Portland
1,2023-07-31,555,600 BLOCK OF SE 146TH AVE,Motor Vehicle Theft,45.517729,-122.513341,Portland
2,2023-07-31,1110,700 BLOCK OF SW 10TH AVE,Theft From Motor Vehicle,45.519658,-122.682225,Portland
3,2023-07-31,900,14000 BLOCK OF NE AIRPORT WAY,Theft of Motor Vehicle Parts or Accessories,45.561735,-122.518390,Portland
4,2023-07-31,1601,700 BLOCK OF SW 5TH AVE,Simple Assault,45.518452,-122.677706,Portland
...,...,...,...,...,...,...,...
505058,2015-05-01,2200,5400 BLOCK OF SW VIEW POINT TER,Theft From Motor Vehicle,45.484172,-122.677847,Portland
505059,2015-05-01,1600,W BURNSIDE ST / SW 5TH AVE,Vandalism,45.523080,-122.675409,Portland
505060,2015-05-01,1600,400 BLOCK OF SW SALMON ST,Vandalism,45.516624,-122.678174,Portland
505061,2015-05-01,1255,1900 BLOCK OF SE 6TH AVE,Vandalism,45.509024,-122.659847,Portland
505062,2015-05-01,1900,NE ALBERTA ST / NE 30TH AVE,All Other Larceny,45.559036,-122.634861,Portland

In [23]:
checkNull(df_Port)

OccurDate      0
OccurTime      0
Address        0
OffenseType    0
OpenDataLat    0
OpenDataLon    0
City           0
dtype: int64

In [24]:
df_LA.rename(columns={"date": "Date", "time": "Time", "crime_description": "Description", 
                      "location": "Location", "latitude": "Latitude", "longitude": "Longitude", 
                      "city": "City"}, inplace=True)
df_LA.head()

,Date,Time,Description,Location,Latitude,Longitude,City
0,2020-01-08,22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.0141,-118.2978,Los Angeles
1,2020-01-01,03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.0459,-118.2545,Los Angeles
2,2020-02-13,12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.0448,-118.2474,Los Angeles
3,2020-01-01,17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.1685,-118.4019,Los Angeles
4,2020-01-01,04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.2198,-118.4468,Los Angeles

In [25]:
df_Bal.rename(columns={"CrimeDate": "Date", "CrimeTime": "Time"}, inplace=True)
df_Bal.head()

,Date,Time,Description,Location,Latitude,Longitude,City
0,09/02/2017,23:30:00,ROBBERY - RESIDENCE,4200 AUDREY AVE,39.22951,-76.60541,Baltimore
1,09/02/2017,23:00:00,AUTO THEFT,800 NEWINGTON AVE,39.31360,-76.63217,Baltimore
2,09/02/2017,22:53:00,SHOOTING,600 RADNOR AV,39.34768,-76.60697,Baltimore
3,09/02/2017,22:50:00,AGG. ASSAULT,1800 RAMSAY ST,39.28315,-76.64526,Baltimore
4,09/02/2017,22:31:00,COMMON ASSAULT,100 LIGHT ST,39.28756,-76.61365,Baltimore

In [26]:
df_Phil.rename(columns={"Dispatch_Date": "Date", "Dispatch_Time": "Time", "Text_General_Code": "Description", 
                        "Location_Block": "Location", "Lat": "Latitude", "Lon": "Longitude"}, inplace=True)
df_Phil.head()

,Date,Time,Description,Location,Latitude,Longitude,City
3,2009-07-19,01:09:00,Weapon Violations,5500 BLOCK N 5TH ST,40.036389,-75.130477,Philadephia
4,2009-06-25,00:14:00,All Other Offenses,1800 BLOCK WYLIE ST,39.969532,-75.166350,Philadephia
5,2015-04-25,12:50:00,Thefts,800 BLOCK S BROAD ST,39.940070,-75.166412,Philadephia
6,2009-02-10,14:33:00,Other Assaults,2200 BLOCK RIDGE AVE,39.979586,-75.171149,Philadephia
12,2015-10-06,18:18:00,Thefts,1500 BLOCK N 15TH ST,39.976134,-75.160229,Philadephia

In [27]:
df_Port.rename(columns={"OccurDate": "Date", "OccurTime": "Time", "Address": "Location", "OffenseType": "Description", 
                        "OpenDataLat": "Latitude", "OpenDataLon": "Longitude"}, inplace=True)
df_Port = df_Port[["Date", "Time", "Description", "Location", "Latitude", "Longitude", "City"]]
df_Port.head()

/tmp/ipykernel_18/3275572361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Port.rename(columns={"OccurDate": "Date", "OccurTime": "Time", "Address": "Location", "OffenseType": "Description",

,Date,Time,Description,Location,Latitude,Longitude,City
0,2023-07-31,1926,Shoplifting,6300 BLOCK OF N LOMBARD ST,45.585250,-122.731728,Portland
1,2023-07-31,555,Motor Vehicle Theft,600 BLOCK OF SE 146TH AVE,45.517729,-122.513341,Portland
2,2023-07-31,1110,Theft From Motor Vehicle,700 BLOCK OF SW 10TH AVE,45.519658,-122.682225,Portland
3,2023-07-31,900,Theft of Motor Vehicle Parts or Accessories,14000 BLOCK OF NE AIRPORT WAY,45.561735,-122.518390,Portland
4,2023-07-31,1601,Simple Assault,700 BLOCK OF SW 5TH AVE,45.518452,-122.677706,Portland

In [28]:
df_Port.tail()

,Date,Time,Description,Location,Latitude,Longitude,City
505058,2015-05-01,2200,Theft From Motor Vehicle,5400 BLOCK OF SW VIEW POINT TER,45.484172,-122.677847,Portland
505059,2015-05-01,1600,Vandalism,W BURNSIDE ST / SW 5TH AVE,45.523080,-122.675409,Portland
505060,2015-05-01,1600,Vandalism,400 BLOCK OF SW SALMON ST,45.516624,-122.678174,Portland
505061,2015-05-01,1255,Vandalism,1900 BLOCK OF SE 6TH AVE,45.509024,-122.659847,Portland
505062,2015-05-01,1900,All Other Larceny,NE ALBERTA ST / NE 30TH AVE,45.559036,-122.634861,Portland

In [29]:
# for tm in df_Port["Time"]:
#     df_Port["Time"] = str(tm)[:-2] + ":" + str(tm)[-2:]
    

def chgTime(tm):
    return str(tm)[:-2] + ":" + str(tm)[-2:]

df_Port["Time"] = df_Port["Time"].apply(chgTime)
df_Port

,Date,Time,Description,Location,Latitude,Longitude,City
0,2023-07-31,19:26,Shoplifting,6300 BLOCK OF N LOMBARD ST,45.585250,-122.731728,Portland
1,2023-07-31,5:55,Motor Vehicle Theft,600 BLOCK OF SE 146TH AVE,45.517729,-122.513341,Portland
2,2023-07-31,11:10,Theft From Motor Vehicle,700 BLOCK OF SW 10TH AVE,45.519658,-122.682225,Portland
3,2023-07-31,9:00,Theft of Motor Vehicle Parts or Accessories,14000 BLOCK OF NE AIRPORT WAY,45.561735,-122.518390,Portland
4,2023-07-31,16:01,Simple Assault,700 BLOCK OF SW 5TH AVE,45.518452,-122.677706,Portland
...,...,...,...,...,...,...,...
505058,2015-05-01,22:00,Theft From Motor Vehicle,5400 BLOCK OF SW VIEW POINT TER,45.484172,-122.677847,Portland
505059,2015-05-01,16:00,Vandalism,W BURNSIDE ST / SW 5TH AVE,45.523080,-122.675409,Portland
505060,2015-05-01,16:00,Vandalism,400 BLOCK OF SW SALMON ST,45.516624,-122.678174,Portland
505061,2015-05-01,12:55,Vandalism,1900 BLOCK OF SE 6TH AVE,45.509024,-122.659847,Portland
505062,2015-05-01,19:00,All Other Larceny,NE ALBERTA ST / NE 30TH AVE,45.559036,-122.634861,Portland

In [30]:
df_Bal[['Month', 'Day', 'Year']] = df_Bal.Date.str.split('/', expand=True)
df_Bal.head()

,Date,Time,Description,Location,Latitude,Longitude,City,Month,Day,Year
0,09/02/2017,23:30:00,ROBBERY - RESIDENCE,4200 AUDREY AVE,39.22951,-76.60541,Baltimore,09,02,2017
1,09/02/2017,23:00:00,AUTO THEFT,800 NEWINGTON AVE,39.31360,-76.63217,Baltimore,09,02,2017
2,09/02/2017,22:53:00,SHOOTING,600 RADNOR AV,39.34768,-76.60697,Baltimore,09,02,2017
3,09/02/2017,22:50:00,AGG. ASSAULT,1800 RAMSAY ST,39.28315,-76.64526,Baltimore,09,02,2017
4,09/02/2017,22:31:00,COMMON ASSAULT,100 LIGHT ST,39.28756,-76.61365,Baltimore,09,02,2017

In [31]:
df_Bal = df_Bal.drop("Date", axis=1)
df_Bal.head()

,Time,Description,Location,Latitude,Longitude,City,Month,Day,Year
0,23:30:00,ROBBERY - RESIDENCE,4200 AUDREY AVE,39.22951,-76.60541,Baltimore,09,02,2017
1,23:00:00,AUTO THEFT,800 NEWINGTON AVE,39.31360,-76.63217,Baltimore,09,02,2017
2,22:53:00,SHOOTING,600 RADNOR AV,39.34768,-76.60697,Baltimore,09,02,2017
3,22:50:00,AGG. ASSAULT,1800 RAMSAY ST,39.28315,-76.64526,Baltimore,09,02,2017
4,22:31:00,COMMON ASSAULT,100 LIGHT ST,39.28756,-76.61365,Baltimore,09,02,2017

In [32]:
df_Bal["Date"] = df_Bal["Year"] + "-" + df_Bal["Month"] + "-" + df_Bal["Day"]
df_Bal.head()

,Time,Description,Location,Latitude,Longitude,City,Month,Day,Year,Date
0,23:30:00,ROBBERY - RESIDENCE,4200 AUDREY AVE,39.22951,-76.60541,Baltimore,09,02,2017,2017-09-02
1,23:00:00,AUTO THEFT,800 NEWINGTON AVE,39.31360,-76.63217,Baltimore,09,02,2017,2017-09-02
2,22:53:00,SHOOTING,600 RADNOR AV,39.34768,-76.60697,Baltimore,09,02,2017,2017-09-02
3,22:50:00,AGG. ASSAULT,1800 RAMSAY ST,39.28315,-76.64526,Baltimore,09,02,2017,2017-09-02
4,22:31:00,COMMON ASSAULT,100 LIGHT ST,39.28756,-76.61365,Baltimore,09,02,2017,2017-09-02

In [33]:
df_Bal = df_Bal[["Date", "Time", "Description", "Location", "Latitude", "Longitude", "City"]]
df_Bal.head()

,Date,Time,Description,Location,Latitude,Longitude,City
0,2017-09-02,23:30:00,ROBBERY - RESIDENCE,4200 AUDREY AVE,39.22951,-76.60541,Baltimore
1,2017-09-02,23:00:00,AUTO THEFT,800 NEWINGTON AVE,39.31360,-76.63217,Baltimore
2,2017-09-02,22:53:00,SHOOTING,600 RADNOR AV,39.34768,-76.60697,Baltimore
3,2017-09-02,22:50:00,AGG. ASSAULT,1800 RAMSAY ST,39.28315,-76.64526,Baltimore
4,2017-09-02,22:31:00,COMMON ASSAULT,100 LIGHT ST,39.28756,-76.61365,Baltimore

In [34]:
print(df_LA.head())
print(df_Bal.head())
print(df_Phil.head())
print(df_Port.head())

         Date      Time                                        Description  \
0  2020-01-08  22:30:00                           BATTERY - SIMPLE ASSAULT
1  2020-01-01  03:30:00                           BATTERY - SIMPLE ASSAULT
2  2020-02-13  12:00:00          SEX OFFENDER REGISTRANT OUT OF COMPLIANCE
3  2020-01-01  17:30:00           VANDALISM - MISDEAMEANOR ($399 OR UNDER)
4  2020-01-01  04:15:00  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...

                                   Location  Latitude  Longitude         City
0   1100 W  39TH                         PL   34.0141  -118.2978  Los Angeles
1    700 S  HILL                         ST   34.0459  -118.2545  Los Angeles
2    200 E  6TH                          ST   34.0448  -118.2474  Los Angeles
3   5400    CORTEEN                      PL   34.1685  -118.4019  Los Angeles
4  14400    TITUS                        ST   34.2198  -118.4468  Los Angeles
         Date      Time          Description           Location  Latitude  \
0  2017-09-02  23:30:00  ROBBERY - RESIDENCE    4200 AUDREY AVE  39.22951
1  2017-09-02  23:00:00           AUTO THEFT  800 NEWINGTON AVE  39.31360
2  2017-09-02  22:53:00             SHOOTING      600 RADNOR AV  39.34768
3  2017-09-02  22:50:00         AGG. ASSAULT     1800 RAMSAY ST  39.28315
4  2017-09-02  22:31:00       COMMON ASSAULT       100 LIGHT ST  39.28756

   Longitude       City
0  -76.60541  Baltimore
1  -76.63217  Baltimore
2  -76.60697  Baltimore
3  -76.64526  Baltimore
4  -76.61365  Baltimore
          Date      Time         Description              Location   Latitude  \
3   2009-07-19  01:09:00   Weapon Violations   5500 BLOCK N 5TH ST  40.036389
4   2009-06-25  00:14:00  All Other Offenses   1800 BLOCK WYLIE ST  39.969532
5   2015-04-25  12:50:00              Thefts  800 BLOCK S BROAD ST  39.940070
6   2009-02-10  14:33:00      Other Assaults  2200 BLOCK RIDGE AVE  39.979586
12  2015-10-06  18:18:00              Thefts  1500 BLOCK N 15TH ST  39.976134

    Longitude         City
3  -75.130477  Philadephia
4  -75.166350  Philadephia
5  -75.166412  Philadephia
6  -75.171149  Philadephia
12 -75.160229  Philadephia
         Date   Time                                  Description  \
0  2023-07-31  19:26                                  Shoplifting
1  2023-07-31   5:55                          Motor Vehicle Theft
2  2023-07-31  11:10                     Theft From Motor Vehicle
3  2023-07-31   9:00  Theft of Motor Vehicle Parts or Accessories
4  2023-07-31  16:01                               Simple Assault

                        Location   Latitude   Longitude      City
0     6300 BLOCK OF N LOMBARD ST  45.585250 -122.731728  Portland
1      600 BLOCK OF SE 146TH AVE  45.517729 -122.513341  Portland
2       700 BLOCK OF SW 10TH AVE  45.519658 -122.682225  Portland
3  14000 BLOCK OF NE AIRPORT WAY  45.561735 -122.518390  Portland
4        700 BLOCK OF SW 5TH AVE  45.518452 -122.677706  Portland

In [35]:
df_All = pd.DataFrame()
df_All

Empty DataFrame
Columns: []
Index: []

In [36]:
df_All =  pd.concat([df_All, df_LA], ignore_index=True)
df_All

,Date,Time,Description,Location,Latitude,Longitude,City
0,2020-01-08,22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.0141,-118.2978,Los Angeles
1,2020-01-01,03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.0459,-118.2545,Los Angeles
2,2020-02-13,12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.0448,-118.2474,Los Angeles
3,2020-01-01,17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.1685,-118.4019,Los Angeles
4,2020-01-01,04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.2198,-118.4468,Los Angeles
...,...,...,...,...,...,...,...
852945,2023-03-22,10:00:00,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",12800 FILMORE ST,34.2790,-118.4116,Los Angeles
852946,2023-04-12,16:30:00,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",6100 S VERMONT AV,33.9841,-118.2915,Los Angeles
852947,2023-07-01,00:01:00,PICKPOCKET,500 S MAIN ST,34.0467,-118.2485,Los Angeles
852948,2023-03-05,09:00:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),14500 HARTLAND ST,34.1951,-118.4487,Los Angeles
852949,2023-11-09,23:00:00,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,4100 S HOBART BL,34.0091,-118.3078,Los Angeles

In [37]:
df_All =  pd.concat([df_All, df_Bal], ignore_index=True)
df_All

,Date,Time,Description,Location,Latitude,Longitude,City
0,2020-01-08,22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.01410,-118.29780,Los Angeles
1,2020-01-01,03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.04590,-118.25450,Los Angeles
2,2020-02-13,12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.04480,-118.24740,Los Angeles
3,2020-01-01,17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.16850,-118.40190,Los Angeles
4,2020-01-01,04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.21980,-118.44680,Los Angeles
...,...,...,...,...,...,...,...
1127267,2012-01-01,00:00:00,LARCENY,1400 JOH AVE,39.26132,-76.67195,Baltimore
1127268,2012-01-01,00:00:00,LARCENY,5500 SINCLAIR LN,39.32493,-76.53829,Baltimore
1127269,2012-01-01,00:00:00,LARCENY,400 N PATTERSON PK AV,39.29573,-76.58497,Baltimore
1127270,2012-01-01,00:00:00,BURGLARY,5800 LILLYAN AV,39.34701,-76.54578,Baltimore
1127271,2012-01-01,00:00:00,BURGLARY,1900 GRINNALDS AV,39.26698,-76.65094,Baltimore

In [38]:
df_All =  pd.concat([df_All, df_Phil], ignore_index=True)
df_All

,Date,Time,Description,Location,Latitude,Longitude,City
0,2020-01-08,22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.014100,-118.297800,Los Angeles
1,2020-01-01,03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.045900,-118.254500,Los Angeles
2,2020-02-13,12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.044800,-118.247400,Los Angeles
3,2020-01-01,17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.168500,-118.401900,Los Angeles
4,2020-01-01,04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.219800,-118.446800,Los Angeles
...,...,...,...,...,...,...,...
3346869,2017-01-17,09:13:00,All Other Offenses,2100 BLOCK S BROAD ST,39.923556,-75.169992,Philadephia
3346870,2017-01-17,22:35:00,All Other Offenses,N 38TH ST / WALLACE ST,39.964593,-75.197627,Philadephia
3346871,2017-01-17,22:35:00,All Other Offenses,N 38TH ST / WALLACE ST,39.964593,-75.197627,Philadephia
3346872,2017-01-18,01:23:00,All Other Offenses,6000 BLOCK HAVERFORD AV,39.970507,-75.240163,Philadephia
3346873,2017-01-17,16:20:00,Other Assaults,N 34TH ST / LANCASTER AV,39.957305,-75.191173,Philadephia

In [39]:
df_All =  pd.concat([df_All, df_Port], ignore_index=True)
df_All

,Date,Time,Description,Location,Latitude,Longitude,City
0,2020-01-08,22:30:00,BATTERY - SIMPLE ASSAULT,1100 W 39TH PL,34.014100,-118.297800,Los Angeles
1,2020-01-01,03:30:00,BATTERY - SIMPLE ASSAULT,700 S HILL ST,34.045900,-118.254500,Los Angeles
2,2020-02-13,12:00:00,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,200 E 6TH ST,34.044800,-118.247400,Los Angeles
3,2020-01-01,17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),5400 CORTEEN PL,34.168500,-118.401900,Los Angeles
4,2020-01-01,04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",14400 TITUS ST,34.219800,-118.446800,Los Angeles
...,...,...,...,...,...,...,...
3797999,2015-05-01,22:00,Theft From Motor Vehicle,5400 BLOCK OF SW VIEW POINT TER,45.484172,-122.677847,Portland
3798000,2015-05-01,16:00,Vandalism,W BURNSIDE ST / SW 5TH AVE,45.523080,-122.675409,Portland
3798001,2015-05-01,16:00,Vandalism,400 BLOCK OF SW SALMON ST,45.516624,-122.678174,Portland
3798002,2015-05-01,12:55,Vandalism,1900 BLOCK OF SE 6TH AVE,45.509024,-122.659847,Portland
3798003,2015-05-01,19:00,All Other Larceny,NE ALBERTA ST / NE 30TH AVE,45.559036,-122.634861,Portland

In [40]:
df_LA.to_csv("LA_clean.csv")

In [41]:
df_Bal.to_csv("Bal_clean.csv")

In [42]:
df_Phil.to_csv("Phil_clean.csv")

In [43]:
df_Port.to_csv("Port_clean.csv")

In [44]:
df_All.to_csv("ProcessedCrimes.csv")